<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
      <%= form_tag profiles_path, method: 'get', id: "profiles_search" do %>
        <p>
          <%= text_field_tag :search, params[:search], class:"form-control" %>
          <%= submit_tag "Search", name: nil, class:"btn btn-primary"  %>
        </p>
      <% end %>
      <%= render partial: "profiles", locals: { profiles: @profiles } %>
    </div>
  </div>
</div>