<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <%= render partial: "profiles/bio", locals: { profile: @profile } %>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div id="articles" class="transitions-enabled">
          <% @articles.each do |article| %>
            <%= render partial: "articles/article", locals: { article: article } %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <%= render partial: "categories/categories", locals: { categories: @categories } %>
      </div>
    </div>
  </div>
</div>
