<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
      <div id="articles" class="transitions-enabled">
        <% @articles.each do |article| %>
          <%= render partial: "articles/article", locals: { article: article } %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <%= render partial: "categories/categories", locals: { categories: @categories } %>
    </div>
  </div>
</div>
