<div id="navbar-article">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link" href="#chapter1" data-turbolinks="false">Chapter 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#chapter2" data-turbolinks="false">Chapter 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#chapter3" data-turbolinks="false">Chapter 3</a>
    </li>
  </ul>
</div>