#articles {
  margin: 0 auto;
}

#article-content {
  position: relative;
  overflow-y: scroll;
  height: 429px;
}

.box {
  margin: 5px;
  width: 250px;
}

.box img {
  width: 100%;
  padding: 0.25rem;
}
