.hidden{
  visibility: hidden;
}

.navbar-light{
  background-color: #ffffff;
}

#navbar{
  opacity: 0.98;
  filter: alpha(opacity=95);
  vertical-align: center;
  line-height: 50px;
}

#navbar-title{
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: black;
}

#navbar-link{
  font-size: 15px;
  color: #C0C0C0;
}

#navbar-link:hover{
  color: #808080;
}

#navbar-link.active{
  text-decoration: underline;
}
