#navbar {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.42);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.42);
  
  vertical-align: center;
  background-color: #ffffff;
  font-size: 15px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 0;
}

#header .navbar-light {
  background-color: #ffffff;
}


#navbar-profile-picture img {
  width: 2rem;
  height: 2rem;
}