<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="#">Fixed top</a>
  <% if user_signed_in? %>
    <%= link_to('logout', destroy_user_session_path, method: :delete) %> |
    <%= link_to "Account", edit_user_registration_path %>
  <% end %>  
</nav>