<div class="container-fluid">
  <div class="row">
    <div id="header-content" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <img id="profile-image" class="img-thumbnail" src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/13001232_10204567135937028_2527015623866539451_n.jpg?oh=de18edd1cbc7772669e46a9b66ef9e59&oe=58100C96" alt=<%= t("not_found") %>></img>
    </div>
  </div>
</div>


