<nav id="profile-navbar" class="navbar navbar-light">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a id="profile-navbar-picture" class="nav-link" href="#">
        <img class="img-thumbnail" src=<%= @profile.profile_picture %> />  
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Subscriped</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Subscripers</a>
    </li>
  </ul>
</nav>
